/* Filip Svehlak */

/* next upcomming event color */
.next {
    background-color: #FFCDB9;
}

/* later upcomming events color */
.later {
    background-color: #c5bbbb;
}

/* height of the columns */


/* margins */
.mx {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
}

/* padding */
.px {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* header text color */
h2 {
    color: black;
}

/* link color/ no link underline */
a {
    text-decoration: none;
    color: black;
}