@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {  
    background-image: url(/images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover  ;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
    font-family: 'Montserrat';
}

    a:hover {
    color: rgb(125, 124, 124);
    transition: all 0.3s ease-in-out;
}

p {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Open sans';
}

h1 {
    font-size: 48px;
    font-weight: 500;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

h4, h5, h6 {
    font-size: 22px;
    font-weight: 500;
}

p, h1, h2, h3, h4, h5, h6 {
    color: black;
}

h1, h2, h3, h4, h5, h6, a {
    color: black;
    font-family: 'Montserrat';
}

.btn {
    border: 1px solid black;
    padding: 5px 25px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.7);
    border-color:rgb(125, 124, 124);
    background-color: black;
    color: white;
    
}
@media only screen and (max-width: 767px) {
    body {
    background-image: url(/images/BackgroundMobile.jpg) !important;
    }