@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
    font-family: 'Montserrat';
}

    a:hover {
    color: rgb(125, 124, 124);
    transition: all 0.3s ease-in-out;
}

p {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Open sans';
}

h1 {
    font-size: 48px;
    font-weight: 500;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

h4, h5, h6 {
    font-size: 22px;
    font-weight: 500;
}

p, h1, h2, h3, h4, h5, h6 {
    color: black;
}

h1, h2, h3, h4, h5, h6, a {
    color: black;
    font-family: 'Montserrat';
}
/*button*/
.btn {
    
    padding: 5px 25px;
    transition: all 0.3s ease-in-out;
    background-color: rgba(245, 222, 179, 0);
}

.btn:hover {
    transform: scale(1.7);
    
    
   
}
/*content wrapper for te boddy*/
.content-wrapper{
    background-image: url(/images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover  ;
    height: 100vh;
    overflow: hidden;
    
}
/* Breakpoint for mobile devices*/
@media only screen and (max-width: 767px) {
.content-wrapper{
background-image: url(/images/BackgroundMobile.jpg) !important;
}

.text-wrapper{
    padding :50px !important;
}

.text-wrapper h1,.text-wrapper h3{
    font-size: 20px ;
}


}
/* text wrapper for the boddy*/
.text-wrapper{
    padding: 175px 200px;

}
.text-wrapper h1,.text-wrapper h3{
    color: white;
    
}
.text-wrapper a{
    color: black;
    font-size: 30px;
}